<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<false/>
			</dict>
			<key>NoOemTableId</key>
			<false/>
			<key>DropOem</key>
			<false/>
			<key>NoDynamicExtract</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>Comment-DisabledAML</key>
		<string>Disable other forms of CPU PM due to SSDT/Generate/PluginType=true</string>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change Method(GPRW,2,N) to XPRW, pair with SSDT-GPRW.aml</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixUSB</key>
				<false/>
				<key>FixRegions</key>
				<true/>
				<key>FixADP1</key>
				<true/>
				<key>FixMutex</key>
				<true/>
				<key>FixHPET</key>
				<true/>
				<key>FixAirport</key>
				<false/>
				<key>FixTMR</key>
				<true/>
				<key>AddMCHC</key>
				<true/>
				<key>FixShutdown</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>Comment-IRQ Fix</key>
				<string>The following fixes may be needed for onboard audio/USB/etc</string>
				<key>FixRTC</key>
				<false/>
				<key>FixIPIC</key>
				<true/>
				<key>FixS3D</key>
				<false/>
				<key>DeleteUnused</key>
				<true/>
				<key>AddHDMI</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>DropOEM_DSM</key>
			<false/>
		</dict>
		<key>HaltEnabler</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>#DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>Secure</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Arguments</key>
		<string>dart=0</string>
		<key>HibernationFixup</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Language</key>
		<string>it:4</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>#ScreenResolution</key>
		<string>1920x1080</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>CustomIcons</key>
		<false/>
		<key>Theme</key>
		<string>Outlines</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>HDMIInjection</key>
		<false/>
		<key>FakeID</key>
		<dict>
			<key>#IntelGFX</key>
			<string>0x59168086</string>
			<key>#Kaby Lake-Comment</key>
			<string>To avoid automatic Clover fake device-id (Skylake) injection</string>
		</dict>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
			<dict>
				<key>model</key>
				<string>Cannon Point-LP High Definition Audio Controller</string>
				<key>layout-id</key>
				<integer>11</integer>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>disable-external-gpu </key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
				<key>framebuffer-con1-busid</key>
				<data>AQAAAA==</data>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-con1-has-lspcon</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-preferred-lspcon-mode</key>
				<data>AQAAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>enable-lspcon-support</key>
				<data>AQAAAA==</data>
				<key>model</key>
				<string>Intel UHD Graphics 630 (Mobile)</string>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
			</dict>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<string>No</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>HighCurrent</key>
			<false/>
			<key>FixOwnership</key>
			<true/>
			<key>AddClockID</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>VBoxHfs</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>#EDID</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>#ig-platform-id</key>
		<string>0x3e9b0009</string>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>KernelPm</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelLapic</key>
		<false/>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IONetworkingFamily.kext</string>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string>C02912200GUJH4RA8</string>
		<key>ROM</key>
		<data>0FB2xgMO</data>
		<key>BooterConfig</key>
		<string>0x28</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF426</string>
		<key>Board-ID</key>
		<string>Mac-53FDB3D8DB8CA971</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>BoardVersion</key>
		<string>MacBookPro15,4</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x9</string>
		<key>BiosVersion</key>
		<string>MBP154.88Z.F000.B00.2101062059</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>Asset Tag#</string>
		<key>PlatformFeature</key>
		<string>0x32</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>FVF951303GU0000A8</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,4</string>
		<key>SmUUID</key>
		<string>78842531-1789-4EAC-B4FF-3B4E9C5C3D66</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>1554.80.3.0.0</string>
		<key>SerialNumber</key>
		<string>FVFZVTZWL40Y</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>01/06/2021</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
		<key>CustomUUID</key>
		<string>4C1C86B4-743A-44F9-A3D5-5F50EA61C6B6</string>
		<key>InjectKexts</key>
		<string>Yes</string>
	</dict>
	<key>Comment</key>
	<string>This file is for 10.14.x with native CoffeeLake support</string>
</dict>
</plist>